@using Brownie.Models
<html>
@Html.Partial("_AdminHeader")
<head>
    <script>
        function backPage() {
            window.history.forward();
        }

    </script>


    <meta charset="utf-8">
    <link href="~/Content/css/stylelogin.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="backPage()">
    @{

        if (Session["id"] == "admin")
        {

            <div class="order">

                @{

            List<Contact> li = Model;
            <form id="formOredr">
                <h2 style="font-size:30px; color:wheat;margin-left: 35%;">Feedbacks</h2><br>
                <table>
                    <tr>
                        <th style="font-size:15px;">Name</th>
                        <th style="font-size:15px;">Email</th>
                        <th style="font-size:15px;">Message</th>
                        <th style="font-size:15px;">Remove</th>
                    </tr>
                    @foreach (var i in li)
                    {

                        <tr>
                            <td class="td1">@i.name</td>
                            <td class="td1">@i.email</td>
                            <td class="td1">@i.message</td>

                            <td class="td1"><a href="~/Admin/Delfeedback/@i.Id">Remove</a></td>
                        </tr>



                    }
                </table>
            </form>
                }

            </div>
        }
        else
        {
            Response.Redirect("Index");
        }
    }



</body>
</html>
