@using Brownie.Models
<html>
<head>
    <script>
        function backPage() {
            window.history.forward();
        }

    </script>
</head>

<body onload="backPage()">
    @{
        if (Session["id"] == "admin")
        {
            @Html.Partial("_AdminHeader")
            <div class="order">
                <form action="~/Admin/updateF/@Model.Id" method="post" enctype="multipart/form-data">
                    <h2 style="font-size: 30px; color: wheat; padding-top: 10%; padding-left: 30%;">Update Fine Arts!</h2><br><br>
                    <img src="@Url.Content(Model.path)" style="width:60%; margin-left:10%;"><br>
                    <input type="file" name="file" style="height:10%; width:30%; margin-left:10%; margin-bottom:10%;" />
                    <button type="submit">Add</button>

                </form>
            </div>
        }
        else
        {

            Response.Redirect("index");
        }
    }
</body>
</html>
