<html>
<head>
    <title></title>
    
</head>
<body>
    <div class="footer">
        
        <div class="footer-bottom">
            <div class="container">
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>Categories</h6>
                    <ul>
                        <li><p>BOXING MMA AND MUAY THAI</p></li>
                        <li><p>SPORTS WEAR</p></li>
                        <li><p>KARATE AND MARTIAL ARTS</p></li>
                        <li><p>WEIGHT lIFTING</p></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>Feature Projects</h6>
                    <ul>
                        <li><p>Coming Soon</p></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate">
                    <h6>Top Brands</h6>
                    <ul>
                        <li><p>Logo On Your Demand</p></li>

                    </ul>
                </div>
                <div class="col-sm-3 footer-bottom-cate cate-bottom">
                    <h6>Our Address</h6>
                    <ul>
                        <li>Sialkot </li>
                        <li>Pakistan</li>
                        <li class="phone">PH : +92 331 6707610</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <p class="footer-class"> © 2016 Fateh Fight Gear. All Rights Reserved </p>
            </div>
        </div>
    </div>
    </body>
</html>
<!--//footer-->