<!-- footer -->

<style>
    h3
    {
        font-family: "Segoe UI";
        font-size: 22px;
    }
    li
    {
        font-family: 'Arial Rounded MT';
    }
</style>


<footer class="footer_bg_bottom clearfix">
    
       

    <div id="sdiv1">
    <img src="~/Content/images/logo2.png">
    </div>
    
    <div id="sdiv2">
       
        <h3 style="margin-top: 30px; margin-left: 150px; color: #e2dddd; "> Follow Us</h3>
        <ul style="margin-left:160px;">


            <li><img src="~/Content/images/facebook.png" alt="Facebook"><a href="www.facebook.com/jjkhan.photography/" target="_blank"><img src="~/Content/images/fb.jpg" alt="Facebook"></a></li>
            
            <li><img src="~/Content/images/instaa.png" width="24" height="24" alt="Instagram"><a href="https://www.instagram.com/junaidjavedkhan/" target="_blank"><img src="~/Content/images/instaa2.jpg" alt="Facebook"></a></li>
            
            <li><img src="~/Content/images/flickerr.png" width="24" height="24" alt="flicker"><a href="https://www.flickr.com/photos/jjkhan-photography/" target="_blank"><img src="~/Content/images/flick.jpg" alt="Facebook"></a></li>
        </ul>
    </div>
    
    
    <div class="sdiv3">

        <h3 style="margin-top: 30px; margin-left: 70px; color: #e2dddd; ">Categories</h3>
        <ul style="margin-left:80px;">

            <a style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; " href="~/Home/Wedding/">wedding</a></li>
            <li><a style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; " href="~/Home/Portrait">Portrait</a></li>
            <li><a style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT';; " href="~/Home/Product">Fine Arts</a></li>
            <li><a style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT';; " href="~/Home/kids">Kids</a></li>
            <li><a style="color: #9a9a93; font-size: 13px; font-family: 'Arial Rounded MT';; " href="~/Home/Events">Event</a></li>
            <!--<li><a style="color:#36362e;font-size:12px;" href="~/Home/Wedding/">wedding</a></li>
            <li><a style="color:#36362e;font-size:12px;" href="~/Home/Portrait">Portrait</a></li>
            <li><a style="color:#36362e;font-size:12px;" href="~/Home/Product">Fine Arts</a></li>
            <li><a style="color:#36362e;font-size:12px;" href="~/Home/kids">Kids</a></li>
            

            <li><a style="color:#36362e;font-size:13px;" href="~/Home/Events">Event</a></li>-->
        </ul>
    </div>
    <div class="sdiv4">

        <h3 style="margin-top: 30px; margin-left: 70px; color: #e2dddd; ">Contact Us</h3>
        <ul style="margin-left:75px;">


            <li style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; ">17-H Jinnah street, shah jamal Lahore!</li>
            <li style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; ">+92 336333394</li>
            <li style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; ">+92 334933148</li>
            <li style="color: #9a9a93; font-size: 12px; font-family: 'Arial Rounded MT'; "><a style="color: #9a9a93; font-size: 13px;" href="~/Home/Events" target="_blank">info@nexgenphotography.com</a></li>
        </ul>

    </div>
            <div class="clear padding20"></div>


            @*<p>


                    <h4 style="margin-left: 590px;"> Follow US</h4>

                    <ul class="social-links">


                        <li><img src="~/Content/images/facebook.png" alt="Facebook"><a href="www.facebook.com/jjkhan.photography/" target="_blank"> &nbsp;Facebook</a></li><br>
                        <li><img src="~/Content/images/instaa.png" width="24" height="24" alt="Instagram"><a href="https://www.instagram.com/junaidjavedkhan/" target="_blank"> &nbsp;Instagram</a></li><br>
                        <li><img src="~/Content/images/flickerr.png" width="24" height="24" alt="flicker"><a href="https://www.flickr.com/photos/jjkhan-photography/" target="_blank"> &nbsp;Flicker</a></li>
                    </ul>

                    &copy; All copy rights are reserved. &nbsp; NexGenPhotography<br>
            &nbsp; Designed By &nbsp;<span><a href="http://www.nexgenphotography.com/developer/" target="_blank">Sunmbal Siddiqui</a></span>
    <!-- /Social -->
                </p>

            <!-- Social -->*@
        
         
</footer>
<!-- /footer -->
