<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>NexGenPhotography</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
   
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/data1/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/data1/css/slicebox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/data1/css/custom.css" />
    <script type="text/javascript" src="~/Content/data1/js/modernizr.custom.46884.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/data1/engine1/style.css" />
    <script type="text/javascript" src="~/Content/data1/engine1/jquery.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <link rel="stylesheet" href="css/ie_7.css" type="text/css" />
    <![endif]-->




    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/js/all-in-one-min.js"></script>
    <script type="text/javascript" src="~/Content/js/setup.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#demo-side-bar').removeAttr('style');
        });
    </script>
    <style type="text/css">
        .demobar {
            display: none;
        }

        #demo-side-bar {
            top: 53px !important;
            left: 90% !important;
            display: block !important;
        }
        body {
            background-color: #F6F4F2;
        }
        .goodh > li {
            background-color: #636359;
            padding: 1% 2% 1% 2%;
            border-radius: 5%;
            text-align: center;
            transition: .15s;
            transition-timing-function: linear;
        }

            .goodh > li:hover {
                background-color: rgb(97,97,97);
                padding: 2%;
                color: white;
            }
    </style>

    <!-- Header -->

    <header class="header_bg clearfix">
        <div class="container clearfix">

            <!-- Logo -->
            <div class="logo">
                <a href="~/Home/index"><img src="~/Content/images/logo2.png" alt="" /></a>
            </div>
            <!-- /Logo -->
            <!-- Master Nav -->
            <nav class="main-menu">
                <ul class ="goodh">
                    <li><a href="~/Home/index">Home</a></li>
                    <li>
                        <a>Gallery</a>
                        <ul>
                            <li><a href="~/Home/Events">Event</a></li>
                            <li><a href="~/Home/Wedding">Wedding</a></li>
                            <li><a href="~/Home/Brand">Brand shoot</a></li>
                            <li><a href="~/Home/Portrait">Portrait shoot</a></li>
                            <li><a href="~/Home/kids">Kids shoot</a></li>
                            <li><a href="~/Home/Product">Fine Arts</a></li>

                        </ul>
                    </li>

                    <li><a href="~/Home/Order">Order Now</a></li>

                    <li><a href="~/Home/aboutus">About us</a></li>
                    <li><a href="~/Home/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- /Master Nav -->
        </div>
    </header>
    <!-- /Header -->


</html>
