<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>NexGenPhotography</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <link rel="stylesheet" href="css/ie_7.css" type="text/css" />
    <![endif]-->


<script src="~/Content/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/jquery-2.2.3.min.js"><\/script>')</script>
    <script type="text/javascript" src="/Content/js/jquery.backgroundPosition.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.easing.compatibility.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.tmpl.min.js"></script>
    
    <script type="text/javascript" src="/Content/js/dynamics.js"></script>

    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/js/all-in-one-min.js"></script>
    <script type="text/javascript" src="~/Content/js/setup.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#demo-side-bar').removeAttr('style');
        });
    </script>
    <style type="text/css">
        .demobar {
            display: none;
        }

        #demo-side-bar {
            top: 53px !important;
            left: 90% !important;
            display: block !important;
        }
    </style>
    
    
</html>
