<html>
<body>
    <section>

        @Html.Partial("_header");
    </section>
    <section >

        @Html.Partial("_slider");
    </section>
    <div class="clear padding40"></div>


    <!-- Content -->
    <section class="container clearfix">


        <div class="clear padding10"></div>

        <div class="recent_works_left">
            <h2 class="red">Featured Work</h2>
        </div>
        <div class="recent_works_arrows">
            <a href="#" class="prev_item"></a><a href="#" class="next_item"></a>
        </div>

        <div class="clear"></div>
        <div class="line"></div>
        <div class="clear padding30"></div>


        <div class="recent_works">
            <ul id="work">
                <!-- START PORTFOLIO COLUMN #1 -->
                <li id="id-1" class="app">
                    <span class="recent_image">
                        <a href="~/Content/images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="~/Content/images/featured_work_1.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Event</a></span>

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #1 -->
                <!-- START PORTFOLIO COLUMN #2 -->
                <li id="id-2" class="util">
                    <span class="recent_image">
                        <a href="~/Content/images/portfolio_large.jpg" data-rel="prettyPhoto" title="Free Admin Template from eGrappler.com" class="img-thumb"><img class="portfolio_image" src="~/Content/images/featured_work_3.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Wedding shoot</a></span>

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #2 -->
                <!-- START PORTFOLIO COLUMN #3 -->
                <li id="id-3" class="app">
                    <span class="recent_image">
                        <a href="~/Content/images/brand.jpg" data-rel="prettyPhoto" title="Free Social Plugin" class="img-thumb"><img class="portfolio_image" src="~/Content/images/featured_work_1.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Brand shoot</a></span>

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #3 -->
                <!-- START PORTFOLIO COLUMN #3 -->
                <li id="id-4" class="app">
                    <span class="recent_image">
                        <a href="~/Content/images/portrait.png" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="~/Content/images/featured_work_5.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Portrait shoot</a></span>

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #3 -->
                <!-- START PORTFOLIO COLUMN #3 -->
                <li id="id-5" class="app">
                    <span class="recent_image">
                        <a href="~/Content/images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="~/Content/images/featured_work_2.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Kids shoot</a></span

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #3 -->
                <!-- START PORTFOLIO COLUMN #3 -->
                <li id="id-6" class="app">
                    <span class="recent_image">
                        <a href="~/Content/images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="~/Content/images/portfolio_image_6.jpg" alt="" /></a>
                    </span>
                    <span class="title"><a href="~/Home/portfolio_details">Product shoot</a></span>

                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #3 -->
               
                
            </ul>
        </div>

    </section>
    <!-- /Content -->



    


    @Html.Partial("_footer3");
    </body>
</html>