/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
body {
	font-family: Arial, Helvetica, sans-serif;
	
}
.wrap {
	width:80%;
	margin: 0 auto;
}

.logo {
	float: left;
}


/**** Grid 1_0f_4 ****/
.grid_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.grid_1_of_4:first-child {
	margin-left: 0;
}
.images_1_of_4 {
	width: 20.8%;
	padding: 1.5%;
	text-align: center;
	position: relative;
}
.images_1_of_4  img {
	max-width: 100%;
}
.images_1_of_4  h2 {
	color:#6A82A4;
	font-family: 'ambleregular';
	font-size:1.1em;
	font-weight: normal;
}
.images_1_of_4  p {
	font-size: 0.8125em;
	padding: 0.4em 0;
	color: #333;
}
.images_1_of_4  p span.price {
	font-size: 18px;
	font-family: 'ambleregular';
	color:#CC3636;
}

/*** Footer ***/
.footer {
	position: relative;
	background: #FCFCFC;
    border-top: 1px solid #CECECE;
    margin:20px auto;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin:0% 0 1% 3.6%;
}
.col_1_of_4:first-child {
	margin-left: 0;
}/* all browsers except IE6 and lower */
.span_1_of_4 {
	width: 20.5%;
	padding:1.5% 1.5% 0 0;
	
}
.span_1_of_4  h4 {
	color:#4F4F4F;
	margin-bottom: .5em;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	
	padding-bottom: 0.5em;
	padding-left:20px;
}
.span_1_of_4 ul{
	padding-left:20px;
}
.span_1_of_4  li a {
	font-size: 0.8125em;
	padding: 0.4em 0;
	color:#2A5C86;
	font-family: 'ambleregular';
	display: block;
}
.span_1_of_4  li span{
	font-size:1em;
	font-family: 'ambleregular';
	color:#2A5C86;
	cursor:pointer;
	margin:10px 0;
	display:block;
}
.span_1_of_4  li a:hover, .span_1_of_4  li span:hover {
	color:#DD0F0E;
}
/*** Social Icons ***/
.social-icons {
	padding-top: 8%;
}
.social-icons li {
	width: 30px;
	height: 30px;
	padding: 0px 0 0 5px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
}
.copy_right {
	text-align: center;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
	font-size:0.823em;
	color: #747474;
}
.copy_right p a {
	color:#DD0F0E;
	font-family: 'ambleregular';
	text-decoration: underline;
}
.copy_right p a:hover {
	color:#222;
	text-decoration: none;
}
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow_up.png) no-repeat right top;
}
#toTopHover {
	width: 48px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}


.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding: 1.5%;
}

.span_1_of_2 {
	width: 67.1%;
	padding: 1.5%;
}
.images_3_of_2 {
	width: 44.2%;
	float: left;
	text-align: center;
}
.span_3_of_2 {
	width: 53.2%;
}
.span_3_of_1 {
	width: 25.2%;
	padding: 1.5%;
}
.images_3_of_2  img {
	max-width: 100%;
}
.span_3_of_2  h2 {
	font-family: 'ambleregular';
	font-size: 1.1em;
	color:#CD1F25;
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
.span_3_of_2  p{
	font-size: 0.8125em;
	padding: 0.3em 0;
	color: #969696;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}


/**** End Preview Page ******/

/*  About  ============================================================================= */
.col_1_of_3 {
	display: block;
	float: left;
	margin: 0% 0 0% 1.6%;
}
.col_1_of_3:first-child {
	margin-left: 0;
}
.span_1_of_3 {
	width: 29.2%;
	padding: 1.5%;
}
.span_1_of_3 img {
	max-width: 100%;
}
.span_1_of_3  h3 {
	color: #383838;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
 }
.span_1_of_3  p {
	font-size: 0.8125em;
	padding: 0.5em 0;
	color:#727272;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}

.span_1_of_3  p.history {
	float: left;
	width: 85%;
	font-size: 0.8125em;
	color:#727272;
	line-height: 1.8em;
}
.span_1_of_3 .list li a {
	font-size: 0.82em;
	padding:7px 15px;
	color: #E4292F;
	background: url(../images/drop_arrow.png) no-repeat 0px 10px;
	display: block;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.span_1_of_3 .list li a:hover {
	text-decoration:underline;
}
/* Delivery  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.images_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.images_1_of_3  img {
	max-width:100%;
	display:block;
	border: 1px solid #ECE6E6;
}
.images_1_of_3  h3{
	color:#383838;
	font-size: 1em;
	margin:5px 0;
	font-family: 'ambleregular';
	text-transform: uppercase;
}
.images_1_of_3  p  {
	font-size:0.823em;
	padding:5px 0;
	color:#727272;
	line-height: 1.8em;
}

/****** News **************************/
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding:1.5%;
}






/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float: left;
	margin: 0% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}
.span_2_of_3 {
	width: 63.1%;
	padding: 1.5%;
}
.span_1_of_3 {
	width: 29.2%;
	padding: 1.5%;
}
.span_2_of_3  h2, .span_1_of_3  h2 {
	margin-bottom: 0.5em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
}

/**** Responsive Layout ****/
@media only screen and (max-width: 1024px) {
	.wrap {
		width: 90%;
	}

	.wish-list li {
		margin-right:20px;
	}

	.social-icons li{
		width:17%;
	    padding:0;
	}
}
@media only screen and (max-width: 800px) {
	.wrap {
		width: 95%;
	}
	
	.span_1_of_3 p.history{
		width:76%;
	}
	.span_1_of_2 {
		width: 98.1%;
	}

	.span_1_of_4 h4{
		font-size:1em;
	}
}

@media only screen and (max-width: 640px) {
	.wrap {
		width: 95%;
	}
	
	.images_1_of_4 h2{
		font-size:0.8em;
	}

	.span_1_of_4 h4{
		padding-left:10px;
	}
	.span_1_of_4 li span{
		font-size:0.8em;
	}
	.span_1_of_4 ul{
		padding-left:10px;
	}
	
	.span_1_of_3 p.history{
		width:85%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col_1_of_3{
       margin:0;
	}
	
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	} 
  
	
}
@media only screen and (max-width: 480px) {
	.wrap {
		width: 95%;
	}

	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:96%;
		padding:2%; 
	}
	
}
@media only screen and (max-width: 320px) {
	.wrap {
		width: 95%;
	}
	
    }
